body {
    background-color: #1b1924;
}

#container {
    background-color: #d9d9bf;
    border-radius: 64px;
    border: 4px solid #b3b376;

    padding: 48px 48px 32px 48px;
    width: 520px;
    display: block;
    margin: auto;
}

#canvas {
    background-color: #1b1924;
    border-radius: 30px;
    border: 4px solid #5f597a;
    padding: 38px;

    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#canvas>button {
    background-color: #efefe1;
    width: 48px;
    height: 48px;
    border: none;
}

#buttons {
    display: flex;
    gap: 16px;
    text-align: right;
    padding: 32px 32px 0px 32px;
    justify-content: flex-end;
}

#buttons>button {
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: medium;
    cursor: pointer;
}

#buttons>#refresh {
    background-color: #b2b2b2;
    color: #212121;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100px;
}